@{
    ViewBag.Title = "Franchise Invoice Reporting Module";
}

<div class="container">
    <h3>Anti Forgery Token Exception</h3>
    <p>
        You are already authenticated in another brower window.
    </p>
</div>
