@{
    ViewBag.Title = "Franchise Invoice Reporting Module";
}


<div class="jumbotron">
    <h1>Brand Period Sales Reporting</h1>
    <p class="lead">Prosciutto landjaeger turducken flank. Leberkas turducken doner tri-tip kielbasa tail bacon sausage beef meatball.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Capicola cow meatball </h2>
        <p>Doner pork loin chicken spare ribs, alcatra salami turkey andouille pig cupim biltong ham hock pork. Biltong capicola turducken, venison chicken shank andouille pig corned beef filet mignon hamburger cow porchetta shankle.</p>
    </div>
    <div class="col-md-4">
        <h2>Drumstick prosciutto bresaola</h2>
        <p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.</p>
    </div>
    <div class="col-md-4">
        <h2>Meatball capicola corned</h2>
        <p>Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon azuki bean garlic.</p>
    </div>
</div>