@using Driven.Business.NotificationTemplates.Helpers
@using Driven.Business.NotificationTemplates.Models
@model NotificationViewModel

<html>
<body>
    <div>
        @Model.BodyMessage
    </div>
</body>
</html>
